a:link, a:visited {
    display: block;
    font-weight: bold;
    font-size: 27px;
    color: #ffffff;
    background-color: #ff0000;
    width: 200px;
    height: 40px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}

.para{
	font-family: fantasy;
	font-size: 30px;
	
}