<div>
		<div class="modal-header">
			<h3 class="modal-title">Add a new book</h3>
		</div>
		<div flash-message="5000"></div>
		<div class="modal-body">
			<p>Book title: {{ newBookTitle }}</p>
			<p>Authors: {{ authors }}</p>
			<p></p>
			<table>
				<tr>
					<td>Book title</td>
					<td><input type="text" ng-model="newBookTitle"
						ng-minlength="1" required></td>
				</tr>
				<tr>
					<td><p></p></td>
				</tr>
				<tr>
					<td>Author first name</td>
					<td><input type="text" ng-model="authorFirstName"
						ng-minlength="1" required></td>
				</tr>
				<tr>
					<td>Author last name</td>
					<td><input type="text" ng-model="authorLastName"
						ng-minlength="1" required></td>
					<td><button
							class="btn btn-primary" type="button"
							ng-click="addAuthor(authorFirstName, authorLastName)">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						</button></td>
				</tr>
			</table>

		</div>
		<div class="modal-footer">
			<button ng-disabled="!(!!newBookTitle && !!authors)"
				class="btn btn-primary" type="button"
				ng-click="prepareReturn(newBookTitle, authors);$close(book)">
				<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true">Save</span>
			</button>
			<button class="btn btn-warning" type="button"
				ng-click="$dismiss('nic')">Close</button>
		</div>
</div>